h1 {
  text-align: left;
  background-color: black;
  color: white;
  font-family: "Arial", sans-serif;
  font-size: 18;
}

nav {
  background-color: #000066;
  color: black;
}

h2 {
  text-align: center;
  color: #000066;
  font-family: "Arial", sans-serif;
}

p {
  text-align: center;
  color: black;
  font-family: "Verdana", sans-serif;
  margin-left: 300px;
  margin-right: 300px;
}

a {
  text-align: center;
  color: #003366;
  font-family: "Verdana", sans-serif;
  text-decoration: none;
  font-weight: bold;
}
