body {
	background-color: white;
	text-align: center;
	font-family: Helvetica, sans-serif;
}

h1 {
	color: #000066;
	font-size: 30px;
}

h2 {
	color: #000066;
	font-size: 22px;
}

p {
	color: #000066;
	font-weight: bold;
	font-size: 20px;
}

a {
	color: #000066;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
}

.row {
	width: 800;
	height: 400;
}
