body {
  background-color: #FF9999;
  text-align: center;
}

h1 {
  color: #800000;
  text-align: center;
  font-family: "Arial", sans-serif;
}

h2 {
  text-align: center;
  color: #800000;
  font-family: "Arial", sans-serif;
}

p {
  font-family: "Verdana", sans-serif;
  color: black;
  margin-left: 300px;
  margin-right: 300px;
}

a {
  font-family: "Verdana", sans-serif;
  color: #993333;
  text-decoration: none;
  font-weight: bold;
}
