	body {
		background-color: #FFCC66;
		text-align: center;
		margin-left: 200px;
		margin-right: 200px;
	}

	h1 {
		color: maroon;
		text-align: center;
		font-family: "Arial", sans-serif;
	}

	h2 {
		text-align: center;
		font-family: "Arial", sans-serif;
	}

	.art74 {
		background-color: #FF9999;
		float: center;
		width: 50%;
		padding: 10px;
		height: 800px;
	}

	.art75 {
		background-color:#9999FF;
		float: center;
		width: 50%;
		padding: 10px;
		height: 800px;
	}

	.courses:after {
		content: "";
		display: table;
		clear: both;
	}

	p {
		font-family: "Verdana", sans-serif;
		color: #000000;
	}

	a {
		font-family: "Verdana", sans-serif;
		text-decoration: none;
		font-weight: bold;
		color: navy;
	}
